.editproducts{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
}
.edits {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h2 {
    margin-bottom: 2rem;
  }
  
  .product-forms {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 1rem;
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  select {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type='submit'] {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #f1356d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type='submit']:hover {
    background-color: #d81b60;
  }